.headingComparison {
    color: #F6F6F8;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    border: 1px solid #182235;
    background: #09172C;
    padding: .5rem;
    margin-bottom: 1rem;
}

.bgComparison {
    color: #fff;
    padding:  0 .8rem 1rem .8rem;
    margin-bottom: 1rem;
    background: #051124;
}

.bgComparison .modes {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: .3rem 0;
    align-items: center;
}

.bgComparison .modes select {
    border-radius: 0.375rem;
    border: 1px solid #283B5A;
    background: #08172F;
    padding: 0.3rem 1.5rem;
}

.modes .modeBtn label {
    border-radius: 0.375rem;
    border: 1px solid #283B5A;
    background: rgba(12, 30, 58, 0.48);
    padding: 0.45rem 0.625rem;
    font-size: 0.875rem;
    color: #505866;

    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.modes label.active{
    border: 1px solid #C0C4CC;
    color: rgba(255, 255, 255, 0.74);

}