.filterCard {
    display: flex;
    gap: .4rem;
    flex-direction: column;
    color: #A7B4CA;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    width: 15%;
    line-height: normal;
}

.filterCard select {
    border-radius: 0.4375rem;
    border: 1px solid #4A628A;
    /* width: 10.625rem; */
    padding: .3rem;

}
.filterCard span{
    min-width: 8rem
}